.portfolio {
  &__projects {
    margin-bottom: 150px;

    .react-tabs {
      &__tab-list {
      }
    }
  }
}

@media (max-width: 991.98px) {
  .portfolio {
    &__projects {
      margin-bottom: 0;

      .react-tabs {
        &__tab-list {
          margin-bottom: 65px;
        }
      }
    }
  }
}
