.portfolio {
  &__projects {
    margin-bottom: 150px;

    .react-tabs {
      &__tab-list {
        margin-bottom: 80px;
      }
    }
  }
}

.portfolio-container{
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}


@media (max-width: 991.98px) {
  .portfolio {
    &__projects {
      margin-bottom: 0;

      .react-tabs {
        &__tab-list {
          margin-bottom: 65px;
        }
      }
    }
  }
}

@media (min-width: 1415px) {
  .portfolio-container{
    max-width: 1415px;
    margin: 0 auto;
  }
}