@import "src/styles/variables";

body {
  margin: 0 auto;

  main.main {
    background-image: linear-gradient(180deg, $yellow, $orange 51%, $yellow);
  }
}

.container {
  display: grid;
  max-width: 1240px;
  margin: 0 auto;
}
