@media (min-width: 992px) {
  .slider-wrapper { display: block; }
  .slider-mobile-wrapper { display: none; }
}

@media (max-width: 991.98px) {
  .slider-wrapper { display: none; }
  .slider-mobile-wrapper { display: block; }
}
