.home {
  &__our-news {
    margin: 0 auto;

    &__text {
      text-align: center;
      max-width: 360px;
      margin: 0 auto 60px auto;

      p {
        margin: 0;
      }
    }

    &__wrapper {
      display: flex;
      flex-direction: row;
      height: 468px;
      justify-content: center;
    }

    &__card {
      position: relative;

      & > div {
        visibility: hidden;

      }

      &:hover {

        & > div {
          visibility: visible;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__cloud {
      position: absolute;
      z-index: 9;
      top: 4%;
      background-color: #fff;
      font-size: 1rem;
      padding: 10px 20px;
      border-radius: 64px;
      font-family: Mont-Bold, serif;
      color: #000;
      width: 70%;
      margin-left: 15%;
      text-align: center;
    }
  }
}