@import "../../../../styles/variables";

.home {
  &__our-news {
    margin: 0 auto;

    &__text {
      text-align: center;
      max-width: 360px;
      margin: 0 auto 60px auto;

      p {
        margin: 0;
      }
    }

    &__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;


      &--mobile {
        visibility: hidden;
        display: none;
      }
    }

    &__card {
      display: flex;
      justify-content: center;
      width: 384px;
      height: 468px;
      position: relative;

      .second-img {
        visibility: hidden;
      }

      &:hover {

        .second-img {
          visibility: visible;
        }

        .first-img {
          visibility: hidden;
        }

        & > div {
          visibility: visible;
        }
      }

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__cloud {
      visibility: hidden;

      bottom: -23%;
      font-size: 1.875rem;
      font-family: Mont-Bold, serif;
      color: $white;
      align-items: center;
      text-align: center;
      display: flex;
      flex-direction: column;
      max-width: 285px;
      justify-content: center;

      a {
        margin-top: 44px;
        border-radius: 7px;
        background-image: linear-gradient(116deg, #ffe22a -62%, #ffb248 112%);
        font-family: Mont-Bold, serif;
        font-size: 1.1rem;
        padding: 7px 22px;
        text-align: center;
        text-decoration: none;
        color: $white;
        width: fit-content;
        align-self: center;
        display: flex;
        cursor: pointer;
        z-index: 10;
      }
    }
  }
}

@media (max-width: 1150px) {
  .home {
    &__our-news {
      &__wrapper {
        display: none;

        &--mobile {
          display: block;
          height: 468px;
          visibility: visible;

          .swiper-container{
            height: 100%;
          }

          .swiper-pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 90px;
            position: relative;

            .swiper-pagination-bullet {
              width: 12px;
              height: 12px;
              background-color: #ffe155;
            }

            .swiper-pagination-bullet-active {
              width: 16px;
              height: 16px;
              background-color: #ffe155;
            }
          }

          .swiper-pagination-bullets {
            top: 300px
          }

          .home__our-news__card {

            .second-img {
              visibility: visible;
            }

            .first-img {
              visibility: hidden;
            }

            & > div {
              visibility: visible;
            }

            img {
              height: 468px;
            }

            .home__our-news__cloud {
              bottom: auto;
              top: 80px;
            }
          }
        }
      }

    }
  }
}