@import "../../../src/styles/variables";
@import "../../../src/styles/mixin";

header {
  flex-shrink: 0;
  padding: 18px 0;
  position: sticky;
  z-index: 2;
  transition: top .3s, height .2s, background-color .25s;
  height: 90px;
  top: 0;

  &.hidden { top: -90px; }

  &.open { background-color: #252533; }
  &.close { background-color: white; }



  .logo {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    grid-gap: 18px;
    width: 63px;
    height: 52px;
    text-decoration: none;
    img{
      width: 63px;
      height: 52px;
    }

    &__text {
      font-size: 39px;
      font-weight: bold;
      color: $orange;
      margin: 0 auto;
      line-height: 1;
    }
  }

  nav {
    text-align: center;

    .nav_item {
      margin: 0 30px;
      text-decoration: none;
      opacity: 1;
      color: $dark-gray;
      font-size: 18px;
      line-height: 1.44;
      transition: color 0.2s;

      &:hover {
        color: $orange;
      }

      &:first-child { margin-left: 0; }
      &:last-child { margin-right: 0; }
    }

    .active {
      color: $orange;
    }
  }

  .btn {
    @include btn(white, linear-gradient(243deg, $orange, $yellow, $yellow, $orange), 100%);
    background-size: 300% 300%;
    transition: 1s;
    font-weight: 900;

    &:focus {
      outline: none;
    }

    &:hover {
      background-position: 100% 50%;
      transform: scale(1.1);
    }
  }

  .hamburger {
    display: none;
  }

  .hamburger .hamburger-inner,
  .hamburger .hamburger-inner::before,
  .hamburger .hamburger-inner::after {
    background-color: $orange;
  }

  &.open .hamburger.is-active .hamburger-inner,
  &.open .hamburger.is-active .hamburger-inner::before,
  &.open .hamburger.is-active .hamburger-inner::after {
    background-color: white;
  }

  .nav-wrapper {
    position: relative;

    .top-block {
      width: 24px;
      height: 24px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }
  }
}

.collapse-template {
  width: 100%;

  &__content {
    padding: 70px 40px 60px;
    display: grid;

    a {
      text-decoration: none;
      line-height: 1.3;
      font-size: 20px;
      color: $light-gray-alt;
      margin-bottom: 25px;

      &.active {
        color: $orange;
      }
    }

    .button-wrapper {
      margin: 45px 0 110px;
      max-width: 200px;
    }

    &__info {
      margin-bottom: 75px;

      & > div {
        margin-bottom: 30px;
      }

      &--title, &--text {
        font-size: 15px;
        line-height: 1.67;
        margin: 0;
        text-decoration: none;
      }

      &--title {
        color: $dark-gray;
        font-weight: normal;
      }

      &--text {
        font-weight: 600;
        color: white;
      }
    }

    &__socials {
      display: grid;
      grid-template-columns: repeat(2, minmax(auto, 140px));
      grid-column-gap: 15px;
      grid-row-gap: 20px;
      margin-bottom: 75px;

      a {
        text-decoration: none;
        font-size: 15px;
        font-weight: 600;
        line-height: 1;
        color: white;
        margin: 0;
      }
    }

    &__footer {
      p {
        margin: 0;
        line-height: 1.54;
        font-size: 13px;
        color: $dark-gray;
        font-weight: normal;
      }

      p:first-child {
        margin-bottom: 5px;
      }
    }
  }
}

.collapse {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: max-height .8s cubic-bezier(0, 1, 0, 1);;
  position: absolute;
  z-index: 2;
  background: $purple;
  color: $light-gray-alt;
  top: 44px;

  &.show {
    width: 100%;
    max-height: 100vh;
    height: calc(100vh - 44px);
    transition: max-height .4s ease-in-out;
    overflow-y: auto;

    .bubble-wrapper {
      .bubble {
        background-color: rgba(255, 255, 255, .03);
      }
    }
  }
}

@media (max-width: 1199.98px) {
  header {
    nav .nav_item, .btn {
      font-size: 16px;
    }
  }
}

@media (max-width: 991.98px) {
  header {
    .container {
      grid-template-columns: 152px 4fr 160px;
    }

    nav .nav_item {
      font-size: 14px;
      margin: 0 10px;
    }

    .btn {
      font-size: 14px;
    }
  }
}

@media (max-width: 767.98px) {
  header {
    padding: 10px 0;
    height: 45px;

    &.hidden { top: -45px; }

    .hamburger {
      display: block;
    }

    .container {
      grid-template-columns: 69px 24px;
      justify-content: space-between;

      .button-wrapper, nav {
        display: none;
      }
    }

    .logo {
      width: auto;
      height: auto;
      align-items: center;
      grid-gap: 10px;

      img {
        width: 28px;
        height: 23px;
      }

      p {
        font-size: 18px;
        line-height: 1;
      }
    }

    &.open .logo p {
      color: white;
    }
  }
}
