@import '../../styles/variables';

.odd {
  direction: ltr !important;
  grid-template-columns: 1fr 2fr;

}

.even {
  grid-template-columns: 1fr 2fr;

  .card-wrapper__animation-wrapper {
    margin-left: -100px;
  }
}

.card-wrapper {
  margin: 200px auto;

  & > .container {
    display: grid;
    align-items: center;
    //width: 100%;
    //height: 100%;
    grid-gap: 5%;
    direction: rtl;
  }

  &__text-wrapper {
    text-align: left;

    h2 {
      font-size: 2.5rem;
      line-height: 1.4;
      color: #363645;
      margin: 0 0 39px;
      font-family: Mont-Bold, serif;
    }

    p {
      font-size: 1.75rem;
      font-family: Mont-Bold, serif;
      line-height: 1.61;
      max-width: none !important;
      color: #363645;
      margin: 0 0 10px;
    }

    span {
      display: block;
      opacity: 0.9;
      font-size: 1.25rem;
      font-family: Mont-SemiBold, serif;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.8;
      letter-spacing: normal;
      color: #676875;
      margin: 0 0 40px;
      direction: ltr;
    }

    a {
      font-family: Mont-Bold, serif;
      border-radius: 7px;
      background-color: #ffffff;
      border: none;
      cursor: pointer;
      color: #ffb248;
      text-decoration: underline;
      font-size: 1.25rem;
      text-align: center;
    }

  }

  &:last-child {
    height: auto !important;

  }
}

@media (max-width: 991.98px) {
  .card-wrapper {
    margin: 50px auto;

    & > .container {
      grid-template-columns: 1fr;
      margin: 150px auto;
      grid-gap: 5%
    }

    &__text-wrapper {
      order: 2;

      h2 {
        font-size: 1.75rem;
      }

      p {
        font-size: 1.25rem;
      }

      span {
        font-size: 0.875rem;
      }

      a {
        font-size: 1.125rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .card-wrapper > .container .animation-wrapper img {
    width: 100%;
    height: auto;
  }

  .even {

    .card-wrapper__animation-wrapper {
      margin-left: -30px;
    }
  }
}
