@import '../../styles/variables';

.odd {
  direction: ltr !important;
}

.card-wrapper {
  margin: 200px auto;

  & > .container {
    display: grid;
    grid-template-columns: 4.5fr 6.2fr;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-gap: 10%;
    direction: rtl;

    .text-wrapper {
      h2 {
        font-size: 40px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: #ffffff;
        margin: 0 0 39px;
      }

      p {
        font-size: 28px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.61;
        letter-spacing: normal;
        color: #ffffff;
        margin: 0 0 10px;
      }

      span {
        display: block;
        opacity: 0.9;
        font-size: 20px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.8;
        letter-spacing: normal;
        color: #ffffff;
        margin: 0 0 40px;
      }

      a {
        border-radius: 7px;
        background-color: #ffffff;
        padding: 14px 50px;
        border: none;
        cursor: pointer;
        color: #ffb248;
        text-decoration: none;
        font-size: 17px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
      }

    }

    .animation-wrapper {
      img {
        width: 631px;
        height: 498.69px;
      }
    }

  }
}

@media (max-width: 991.98px) {
  .card-wrapper {
    & > .container {
      grid-template-columns: 1fr;
      margin: 150px auto;
      grid-gap: 5%
    }
  }
}
