@import "../../../styles/variables";

.contact {
  flex-grow: 1;
  padding: 90px 0;
  background-color: $purple;

  &__wrapper {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    grid-column-gap: 50px;
    padding: 0;

    .container:nth-child(3) {
      display: none;
    }
  }

  &__form {
    max-width: 450px;

    h2 {
      color: $white;
      line-height: 0.97;
      margin: 0 0 20px;
    }

    p {
      font-size: 1.125rem;
      line-height: 1.44;
      color: $light-gray;
      margin-bottom: 35px;
    }
  }

  &__info {
    &__block {
      margin-bottom: 40px;

      &--border {
        a {
          border-bottom: 2px solid rgba(255, 255, 255, 0.35);
          display: inline-block;
          transition: 0.2s;

          &:hover {
            border-color: white;
          }
        }
      }

      p,
      a {
        font-size: 1.25rem;
        line-height: 1.25;
        font-weight: normal;
      }

      p {
        color: $dark-gray;
        margin: 0 0 10px;
      }

      a {
        color: white;
        margin: 0;
        text-decoration: none;
      }
    }

    &__socials {
      display: grid;
      grid-template-columns: 46px 46px 46px;
      grid-gap: 25px;
      margin-top: 10px;

      a {
        display: grid;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background-color: $light-gray;
        padding: 10px;
        width: 46px;
        height: 46px;
        transition: 0.2s;

        &:hover {
          background-color: white;
          transform: scale(1.2);
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  section.contact {
    margin-bottom: 0;
  }

  .contact {
    padding: 60px 0;

    &__wrapper {
      grid-template-columns: 1fr;
      grid-gap: 0;

      .container:nth-child(1) {
        border-bottom: 1px solid $dark-gray;
        padding-bottom: 75px;
        margin: 0 0 75px;
      }

      .container:nth-child(2) {
        display: none;
      }
      .container:nth-child(3) {
        display: block;
      }
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .contact {
    padding: 72px 0;

    &__wrapper {
      grid-column-gap: 40px;
    }

    &__form {
      max-width: 450px;
      h2 {
        margin: 0 0 17px;
      }
      p {
        margin-bottom: 28px;
      }
    }

    &__info {
      &__block {
        margin-bottom: 32px;
        
      &__socials {
        display: grid;
        grid-template-columns: 46px 46px 46px;
        grid-gap: 25px;
        margin-top: 10px;

        a {
          display: grid;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          background-color: $light-gray;
          padding: 10px;
          width: 46px;
          height: 46px;
          transition: 0.2s;

          &:hover {
            background-color: white;
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
}
