.home {
  &__banner {
    &__block {
      grid-template: auto 1fr / auto;
      align-items: center;
      height: 100%;

      .wrapper {
        position: relative;
        width: 100%;
        margin-top: 20vh;

        #border_wrap {
          overflow: hidden;
        }

      }

      //img {
      //  width: 100%;
      //  position: absolute;
      //  margin: auto;
      //  top: 0;
      //  right: 0;
      //  bottom: 0;
      //  left: 0;
      //  z-index: 1;
      //}
    }

    &__slogan {
      margin-top: 50px;
      text-align: center;

      h1 {
        margin-bottom: 40px;
      }

      h2 {
        font-size: 3.3vw;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}

@media (max-width: 1239.98px) {
  .home {
    &__banner {
      &__block {
        grid-template: auto 1fr / auto;

        .wrapper {
          width: 100%;
          margin-top: 20vh;
        }
      }

      &__slogan {
        //margin: 0 auto;

        h1 {
          margin-bottom: 15px;
        }

        //h2 {
        //  font-size: 4.8vw;
        //  margin: 0;
        //}
      }
    }
  }
}

@media (max-width: 767.98px) {
  .home {
    section.home__banner:first-child {
      height: fit-content;
    }

    &__banner {
      margin-bottom: 70px;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;

      &__block {
        min-height: 520px;
      }

      &__slogan {
        margin: 0 0 30px;

        h1 {
          font-size: 48px;
          line-height: 1.17;
          margin-top: 0;
        }
      }
    }
  }
}

#El-Copy {
  opacity: 0;
  animation: 1.5s rotateRight 0.3s normal forwards;
}

@keyframes rotateRight {
  0% {
    transform: rotate(7deg);

    opacity: 0;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

#Tucan-Copy {
  opacity: 0;
  animation: 2s moveLeft 1s normal forwards;
}

@keyframes moveLeft {
  0% {
    x: 584px;
    opacity: 0;
  }
  100% {
    x: 442px;
    opacity: 1;
  }
}

#Whale-Copy-2 {
  opacity: 0;
  animation: 1.2s moveUp 1.6s 1 normal forwards;
}

@keyframes moveUp {
  0% {
    y: 212.358px;
  }

  100% {
    y: 199px;
    opacity: 1;
  }
}
