.home {
  &__services {
    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 57px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;

      img{
        width: 100%;
      }

      h4 {
        font-size: 1.5625rem;
        margin: 50px 0 27px;
        color: #363645;
        font-family: Mont-Bold, serif;
      }

      p{
        text-align: center;
        margin: 0;
        opacity: 0.9;
      }
    }

    & > .container {
      align-items: center;
      margin-bottom: 220px;
      display: flex;
      flex-direction: column;
    }
  }
}
  @media (max-width: 1239.98px) {
    .home {
      &__services {
        & > .container {
          grid-gap: 60px;
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    .home {
      &__services {
        &__wrapper {
          grid-template-columns: 1fr;
          //margin-bottom: 150px;
        }

        &__flex-row {
          img {
            display: none;
          }
        }
      }
    }
  }

