.home {
  &__we-are {
    color: #363645;

    & > .container {
      grid-template-columns: 1fr 1fr;
      padding-bottom: 100px;
      align-items: flex-start;

      h4 {
        margin: 0 0 15px;
      }

      .intro-text,
      .our-credo {
        margin-bottom: 50px;
      }

      p {
        margin: 0 0 10px;
      }
    }

    &__text-wrapper {
      max-width: 500px;

      .ul-item {
        display: grid;
        grid-template-columns: 12px 1fr;
        align-items: flex-start;
        grid-column-gap: 10px;

        &::before {
          content: "";
          width: 12px;
          height: 12px;
          border-radius: 50%;
          display: inline-block;
          background: #ffed99;
          margin-top: 12px;
        }
      }
    }

    &__our-images {
      @media (max-width: 663px) {
        display: none;
      }
      height: 660px;
      width: 620px;
      overflow: hidden;
      //margin: 0 0 0 auto;

      .swiper-container {
        overflow: visible;

        .swiper-pagination {
          bottom: -40px;

          .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            background: #ffe155;
            opacity: 0.5;
            transition: transform 0.2s;
            margin: 0 12px 0;

            &:focus {
              outline: none;
            }

            &-active {
              transform: scale(1.4);
              opacity: 1;
            }
          }
        }
      }

      .swiper-slide {
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
        grid-gap: 0;
        margin: 0 0 0 auto;
      }
    }
  }
}

@media (max-width: 1239.98px) {
  .home {
    &__we-are {
      & > .container {
        grid-template-columns: 1fr;

        p:last-child {
          margin-bottom: 50px;
        }
      }

      &__text-wrapper {
        max-width: 800px;
        margin: 0 auto;
      }

      &__our-images {
        margin: 0 auto;
      }
    }
  }
}

.card {
  position: relative;
  width: 185px;
  height: 185px;
  border-radius: 50%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08);
  margin: 10px;

  &:hover {
    .card__front {
      opacity: 0;
      transform: scale(0.8);
    }

    .card__back {
      opacity: 1;
      transform: scale(1);
      transition-delay: 0.2s;

      &__desc {
        transform: translateY(0);
        transition-delay: 0.3s;
        opacity: 1;
      }
    }
  }

  &__front,
  &__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
  }

  &__front {
    transition: 0.2s;
    transition-delay: 0.2s;

    img {
      width: 185px;
      height: 185px;
    }
  }

  &__back {
    transition: 0.6s;
    opacity: 0;
    transform: scale(0.9);
    display: grid;
    align-items: flex-end;
    overflow: hidden;
    transition-delay: 0s;
    width: 185px;
    height: 185px;
    border-radius: 50%;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08);

    &__desc {
      text-align: center;
      width: 100%;
      height: 100px;
      background-image: linear-gradient(to bottom, rgba(54, 54, 70, 0), rgba(40, 40, 50, 0.23) 42%, rgba(54, 54, 70, 0.69));
      padding: 33px 0 15px;
      display: grid;
      transform: translateY(70px);
      transition: 0.2s;
      opacity: 0;
      transition-delay: 0s;

      span {
        text-align: center;
        margin: 0;
        color: white;

        &:first-child {
          font-size: 15px;
          line-height: 1.33;
          margin-bottom: 3px;
          font-family: Mont-Bold, serif;
        }

        &:last-child {
          font-size: 12px;
          line-height: 1.25;
          margin: 0 auto;
          max-width: 110px;
          margin-bottom: 10px;
          font-family: Mont-SemiBold, serif;

        }
      }
    }
  }

  &:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.3);
  }

  &:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.15);
  }
}

@media (max-width: 767.98px) {
  .home {
    &__we-are {
      & > .container {
        //padding-bottom: 0;

        h4 {
          margin: 0 0 10px;
        }

        .intro-text,
        .our-credo {
          margin-bottom: 35px;
        }
      }

      &__text-wrapper {
        .ul-item {
          margin-bottom: 10px;

          &::before {
            margin-top: 6px;
          }
        }
      }
    }
  }
}

@media (max-width: 1920px) {
  .home__our-news__card {
    &:last-child,
    &:first-child {
      display: none;
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .home {
    &__we-are {
      & > .container {
        padding-bottom: 145px;  
        h4 {
          margin: 0 0 12px;
        }
  
        .intro-text,
        .our-credo {
          margin-bottom: 40px;
        }
  
        p {
          margin: 0 0 8px;
        }
      }
  
      &__text-wrapper {
        max-width: 470px;
  
        .ul-item {
          display: grid;
          grid-template-columns: 12px 1fr;
          align-items: flex-start;
          grid-column-gap: 10px;
  
          &::before {
            content: "";
            width: 12px;
            height: 12px;
            border-radius: 50%;
            display: inline-block;
            background: #ffed99;
            margin-top: 12px;
          }
        }
      }
      &__our-images {
        height: 540px;
        width: 496px;
        overflow: hidden;

        .swiper-slide {
          width: 496px !important;
          height: auto;
        }
      }
    }
  }
  .card {
    width: 148px;
    height: 148px;
    margin: 8px;
    &__front,
    &__back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: grid;
      align-items: center;
      justify-items: center;
    }

    &__front {
      transition: 0.2s;
      transition-delay: 0.2s;

      img {
        width: 148px;
        height: 148px;
      }
    }

    &__back {
      width: 148px;
      height: 148px;

      &__desc {
        padding: 15px 0 12px;
        position: absolute;
        height: 74px;
        bottom: 0;

        span {
          &:first-child {
            font-size: 1rem;
            line-height: 1.25;
            margin-bottom: 3px;
          }

          &:last-child {
            font-size: 1rem;
            line-height: 1.15;
            margin: 0 auto;
            max-width: 110px;
          }
        }
      }
    }
  }
}
