.container-our-works {
  max-width: 1240px;
  margin: 0 auto;
}

.home {
  &__our-works {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    h2 {
      text-align: center;
      margin: 0 0 25px;
      font-family: Mont-Bold, serif;
      font-size: 1.75rem;
      color: #363645;
    }

    &__wrapper {
      max-width: 1240px;
      width: 100%;
      overflow: hidden;
      margin: 90px auto 0 auto;


      //.swiper-pagination {
      //  top: 316px;
      //}
      //
      //.swiper-pagination-bullet {
      //  width: 12px;
      //  height: 12px;
      //  background-color: #ffe155;
      //}
      //
      //.swiper-pagination-bullet-active {
      //  width: 16px;
      //  height: 16px;
      //  background-color: #ffe155;
      //}

      .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: auto;
      }

      .swiper-slide-next {
        .slide {
          margin: 0 !important;

          img {
            width: 100%;
          }

          & > div {
            display: flex !important;
            flex-direction: column;
            align-items: center;

          }
        }
      }

      .swiper-slide {
        margin: 0;
        height: 900px;

        .slide {
          //margin-top: 77px;
          margin: 0;

          img {
            width: 100%;
            height: 100%;
          }

          &__small-img {
            width: 75%;
          }

          & > div {
            display: none;
          }
        }


        p {
          max-width: 541px;

        }

        .title {
          font-size: 1.75rem;
          color: #363645;
          font-family: Mont-Bold, serif;
          margin: 20px 0 20px;
        }

        .text {
          font-size: 1.25rem;
          margin: 20px 0;
          color: #676875;
          text-align: center;
        }

        .tags {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          a {
            font-family: Mont-SemiBold, serif;
            color: #2c2c2c;
            margin: 0 10px 10px 0;
            padding: 9px 17px;
            font-size: 0.875rem;
            border-radius: 28px;
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08);
            text-decoration: none;

            &:hover{
              color: rgb(255, 178, 72);
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }

        .link {
          color: #f7931d;
          text-decoration: underline;
          font-size: 1.25rem;
        }
      }
    }
  }
}

@media (max-width: 1279.98px) {
  .container-our-works {
    padding: 0 30px;
  }
}

@media (max-width: 767.98px) {
  .container-our-works {
    padding: 0 20px;
  }
}

@media (min-width: 2700px) {
  .container-our-works {
    width: 35%;
  }
}

@media (max-width: 1239px) {
  .container-our-works {
    margin: 0;
  }
  .home {
    &__our-works {
      h2 {
        font-size: 1.75rem;
        margin-bottom: 10px;
        text-align: left;
      }

      .slide {
        margin-top: 0 !important;

        .swiper-slide {
          height: 950px;
        }

        & > div {
          justify-content: center;
          display: flex !important;
          flex-direction: column;
          align-items: center;
        }

        img {
          width: 100%;
        }
      }

      .swiper-pagination {
        visibility: hidden;
      }
    }
  }
}


@media (max-width: 900px) {
  .home {
    &__our-works {
      .swiper-slide {
        height: 1150px;
      }

      .slide {
        justify-content: center;
        display: flex !important;
        flex-direction: column;
        align-items: center;

        & > div {
          justify-content: center;
          display: flex !important;
          flex-direction: column;
          align-items: center;
        }

        text{
          font-size: 0.9375rem;
        }

        img {
          width: 75% !important;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .home {
    &__our-works {
      .swiper-slide {
        height: 1000px;
      }
    }
  }
}

@media (max-width: 480px) {
  .home {
    &__our-works {
      .swiper-slide {
        height: 750px;
      }
    }
  }
}

.swiper-slide-duplicate-prev {
  .slide {
    justify-content: flex-end;
    display: flex;
  }

}

.swiper-button-prev {
  outline: none !important;
  left: 0 !important;
  border: none !important;
  background-image: none !important;
  width: 380px !important;
  height: 250px !important;
  background-size: 16px 30px !important;
  top: 0 !important;
}

.swiper-button-next {
  outline: none !important;
  right: 0 !important;
  border: none !important;
  background-image: none !important;
  width: 380px !important;
  height: 250px !important;
  background-size: 16px 30px !important;
  top: 0 !important;
}



@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {

    .container-our-works {
      max-width: 992px !important;
    }
    .home {
      &__our-works {
        .swiper-slide {
          margin: 0;
          height: 650px;
  
          .slide {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
              width: 75%;
              height: 75%;
            }
          }
        }
      }
    }
}