.home {
  &__our-works {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;

    &__wrapper {
      width: 100%;
      overflow: hidden;
      margin: 90px auto 0 auto;

      .swiper-pagination {
        top: 343px;
      }

      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #ffe155;
      }

      .swiper-pagination-bullet-active {
        width: 16px;
        height: 16px;
        background-color: #ffe155;
      }

      .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: auto;
      }

      .slide {
        margin: 0;


        & > div {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        p {
          max-width: 541px;

        }

        .title {
          font-size: 1.75rem;
          color: #363645;
          font-family: Mont-Bold, serif;
          margin: 100px 0 20px;
        }

        .text {
          font-size: 1.25rem;
          margin: 30px 0;
          color: #676875;
          text-align: center;
        }

        .tags {
          span {
            font-family: Mont-SemiBold, serif;
            color: #2c2c2c;
            margin-right: 10px;
            padding: 9px 17px;
            font-size: 0.875rem;
            border-radius: 28px;
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08);
          }
        }

        .link {
          color: #f7931d;
          text-decoration: underline;
          font-size: 1.25rem;
        }
      }
    }
  }
}


@media (max-width: 1239px) {
  .slide {
    img {
      width: 100%;
    }
  }

  .swiper-pagination {
    visibility: hidden;
  }
}

@media (min-width: 1240px) {

  .slide {
    img {
      width: 100%
    }
  }
  .swiper-slide-active, .swiper-slide-duplicate-prev {

    .slide {
      margin-top: 280px !important;

      img {
        width: 250px;
        height: 100%;
      }

      & > div {
        display: none !important;
      }
    }
  }

}

@media (max-width: 900px) {
  .slide {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: auto;
      max-height: 541px;
    }
  }
}

@media (max-width: 600px) {
  .slide {
    img {
      width: 100%;
    }
  }
}

.swiper-slide-duplicate-prev {
  .slide {
    justify-content: flex-end;
    display: flex;
  }

}

.swiper-button-prev {
  left: 450px !important;
  background-image: url("/assets/icons/arrow-left.svg") !important;
  border: 3px solid #979797;
  width: 60px !important;
  height: 60px !important;
  border-radius: 50%;
  background-size: 16px 30px !important;
}

.swiper-button-next {
  right: 450px !important;
  background-image: url("/assets/icons/arrow-right.svg") !important;
  border: 3px solid #979797;
  width: 60px !important;
  height: 60px !important;
  border-radius: 50%;
  background-size: 16px 30px !important;
}
