.home {
  &__our-works {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;

    &__wrapper {
      max-width: 1240px;
      width: 100%;
      overflow: hidden;
      margin: 90px auto 0 auto;


      .swiper-pagination {
        top: 316px;
      }

      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #ffe155;
      }

      .swiper-pagination-bullet-active {
        width: 16px;
        height: 16px;
        background-color: #ffe155;
      }

      .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: auto;
      }

      .swiper-slide-next {
        .slide {
          margin: 0 !important;

          img {
            width: 100% !important;
          }

          & > div {
            display: flex !important;
            flex-direction: column;
            align-items: center;

          }
        }
      }

      .swiper-slide {
        margin: 0;

        .slide {
          margin-top: 280px;

          img {
            width: 250px;
            height: 100%;
          }

          & > div {
            display: none;
          }
        }


        p {
          max-width: 541px;

        }

        .title {
          font-size: 1.75rem;
          color: #363645;
          font-family: Mont-Bold, serif;
          margin: 100px 0 20px;
        }

        .text {
          font-size: 1.25rem;
          margin: 30px 0;
          color: #676875;
          text-align: center;
        }

        .tags {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          span {
            font-family: Mont-SemiBold, serif;
            color: #2c2c2c;
            margin-right: 10px;
            padding: 9px 17px;
            font-size: 0.875rem;
            border-radius: 28px;
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08);
          }
        }

        .link {
          color: #f7931d;
          text-decoration: underline;
          font-size: 1.25rem;
        }
      }
    }
  }
}


@media (max-width: 1239px) {
  .slide {
    margin-top: 0 !important;

    & > div {
      justify-content: center;
      display: flex !important;
      flex-direction: column;
      align-items: center;
    }

    img {
      width: 100% !important;
    }
  }

  .swiper-pagination {
    visibility: hidden;
  }
}


@media (max-width: 900px) {
  .slide {
    justify-content: center;
    display: flex !important;
    flex-direction: column;
    align-items: center;

    & > div {
      justify-content: center;
      display: flex !important;
      flex-direction: column;
      align-items: center;
    }

    img {
      width: auto;
      //max-height: 441px;
    }
  }
}


@media (max-width: 600px) {
  .slide {
    img {
      width: 100% !important;
    }
  }
}

.swiper-slide-duplicate-prev {
  .slide {
    justify-content: flex-end;
    display: flex;
  }

}

.swiper-button-prev {
  left: 450px !important;
  background-image: url("/assets/icons/arrow-left.svg") !important;
  border: 3px solid #979797;
  width: 60px !important;
  height: 60px !important;
  border-radius: 50%;
  background-size: 16px 30px !important;
}

.swiper-button-next {
  right: 450px !important;
  background-image: url("/assets/icons/arrow-right.svg") !important;
  border: 3px solid #979797;
  width: 60px !important;
  height: 60px !important;
  border-radius: 50%;
  background-size: 16px 30px !important;
}
