@mixin btn($text_color, $bg_color: none, $width: 200px) {
  border-radius: 7px;
  width: $width;
  font-size: 18px;
  text-align: center;
  color: $text_color;
  padding: 14px 0 13px;
  border-color: $text_color;

  @if $bg_color != none {
    background-image: $bg_color;
    font-size: 17px;
    border: none;
    padding: 15px 0 16px;
  }
}
