$light-gray: #d0d0d0;
$light-gray-alt:  #ebebeb;
$dark-gray: #848484;
$dark-gray-alt: #979797;
$main-gray: #676875;
$case-study-gray: #363645;
$orange: #ffb248;
$yellow: #ffe22a;
$purple: #363646;
$red: #ff5722;
$white: #fff;
$black: #000;