@import "_mixin.scss";
@import "_fonts.scss";
@import "_variables.scss";

@import "~swiper/dist/css/swiper.min.css";

* {
  font-family: Mont, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

section {
  z-index: 1;
  position: relative;
}

section:focus {
  outline: none;
}

.container {
  display: grid;
  max-width: 1240px;
  margin: 0 auto;
}
