@import "_mixin.scss";
@import "_fonts.scss";
@import "_variables.scss";

* {
  font-family: Mont, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.container {
  display: grid;
  max-width: 1240px;
  margin: 0 auto;
}
