@import "../../../../styles/variables";

.home {
  &__testimonials {

    h3 {
      text-align: center;
      margin: 0 0 50px;
    }

    & > .container {
      overflow: hidden;

      .swiper-wrapper {
        //height: 144px !important;
        width: 1240px;

        .customer {
          height: 110px;

          p {
            margin: 0 0 5px;
            max-width: 64vw;
          }

          .clutch-block {
            img {
              height: 24px;
              width: 80px;
              border-radius: 0;
            }
          }

          .stars-block {
            img {
              height: 24px;
              width: 90px;
              border-radius: 0;
            }
          }
        }

        > .swiper-slide {
          display: grid;
          grid-template-columns: 282px 1fr;
          grid-gap: 50px;
          min-height: 144px;
        }

        .swiper-pagination {
          width: 1240px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 90px;
          position: relative;

          .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            background-color: #ffe155;
          }

          .swiper-pagination-bullet-active {
            width: 16px;
            height: 16px;
            background-color: #ffe155;
          }
        }

      }

      .feedback {
        color: $main-gray;
        height: 216px;
        font-family: 'Mont-RegularItalic', sans-serif
      }
    }
  }
}

@media (max-width: 1239.98px) {
  .home__testimonials > .container {
    .feedback {
      width: 50vw
    }

    .swiper-wrapper {
      .swiper-pagination {
        width: 100vw;
      }
    }

  }
}

@media (max-width: 1239.98px) {
  .home__testimonials > .container {
    .feedback {
      height: auto;
    }
  }
}

@media (max-width: 767.98px) {
  .home {
    &__testimonials {

      & > .container {
        .swiper-slide {
          display: grid;
          grid-gap: 20px !important;

        }

        .feedback {
          width: 40vw !important;
            height: 400px;
        }

        .swiper-wrapper {

          .swiper-pagination {
            width: 86vw;
          }
        }

      }
    }
  }
}

@media (max-width: 575.98px) {
  .home__testimonials {
    & > .container {
      .swiper-wrapper {

        .swiper-pagination {
          margin-top: 105px;
          width: 78vw;
        }
      }

      .swiper-slide {
        display: grid;
        grid-template-columns: 1fr !important;
        grid-gap: 20px !important;

        .feedback {
          width: 80vw !important;
        }
      }
    }
  }
}


@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    .home__testimonials {
      h3 {
        margin-bottom: 17px !important;
      }
      & > .container {
        .swiper-wrapper {
          //height: 144px !important;
          width: 992px;
          .swiper-slide {
            min-height: 100px;
          }
          .slide__footer {
            margin-top: 58px;
          }

          .swiper-pagination {
            width: 992px !important;}
        }

          .feedback {
            height: auto;
            height: 110px;
          }
        }
      }
  }