.home {
  &__banner {
    &__block {
      grid-template-columns: 5fr 3fr;
      grid-gap: 75px;
      align-items: center;
      height: 100%;

      .wrapper {
        position: relative;
        width: 100%;
      }

      img {
        width: 100%;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
      }
    }

    h1 {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 1239.98px) {
  .home {
    &__banner {
      &__block {
        grid-template: auto 1fr / auto;
        grid-gap: 0;

        .wrapper {
          max-width: 600px;
          margin: 0 auto;
        }
      }

      &__slogan {
        grid-row-start: 1;
        margin: 0 auto;

        h1 {
          margin-bottom: 15px;
        }

        h2 {
          margin: 0;
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .home {
    section.home__banner:first-child {
      height: fit-content;
    }

    &__banner {
      margin-bottom: 150px;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;

      &__block {
        min-height: 520px;
      }

      &__slogan {
        margin: 150px 0 50px;

        h1 {
          font-size: 48px;
          line-height: 1.17;
          margin-top: 0;
        }

        h2 {
          font-size: 20px;
          line-height: 1.55;
        }
      }
    }
  }
}
