.home {
  &__banner {
    &__block {
      grid-template-rows: 1fr;
      grid-template-columns: 5fr 3fr;
      grid-gap: 60px;
      align-items: center;
      height: 100%;

      .wrapper {
        position: relative;
        width: 100%;
      }

      img {
        width: 100%;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
      }
    }

    &__slogan {
      h1 {
        color: #ffffff;
        font-size: 65px;
        line-height: 0.86;
        text-align: left;
      }

      p {
        font-size: 36px;
        line-height: 1.56;
        font-weight: bold;
      }
    }
  }
}
