@import "../../../styles/variables";
@import "../../../styles/mixin";

@import "../components/Banner/banner";
@import "../components/Services/services";
@import "../components/WeAre/we-are";
@import "../components/Achievements/achivements";
@import "../components/Testimonials/testimonials";
@import "../components/OurWorks/our-works";
@import "../components/News/news";
@import "../components/Industries/industries";

.home {
  overflow: hidden;
  object-fit: contain;

  
    .hamburger .hamburger-inner,
    .hamburger .hamburger-inner::before,
    .hamburger .hamburger-inner::after {
      background-color: $white;
    }
  

  section {
    .btn {
      @include btn($orange, linear-gradient($white, $white));
    }
  }

  &__products, &__services, &__we-are, &__industries, &__our-news, &__our-works, &__testimonials, &__achievements {
    h3 {
      font-family: Mont-Bold, serif;
      font-size: 2.25rem;
      text-align: center;
      color: $case-study-gray;
      margin: 0 0 40px;
    }
  }
}


@media (max-width: 767.98px) {
  .home {
    p {
      font-size: 15px !important;
      line-height: 1.67;
    }

    section {
      h3 {
        margin: 0 0 35px;
      }

      h4 {
        font-size: 20px;
        line-height: 1.25;
      }
    }
  }
}
