.home {
  &__services {
    &__flex-row {
      display: grid;
      grid-template-columns: auto auto;

      p {
        margin: 0;
      }

      h4 {
        border-bottom: 2px solid rgba(255, 255, 255, .35);
        transition: .2s;
        margin: 0 0 20px;
      }

      &:hover {
        h4 {
          border-color: rgba(255, 255, 255, 1);
        }
      }

      div div {
        display: flex;
      }
    }

    & > .container {
      grid-template-columns: 1fr 1fr;
      grid-gap: 180px;
      align-items: center;
      margin-bottom: 220px;

      a {
        text-decoration: none;
      }

      img {
        margin-right: 30px;
        height: 145px;
        width: 100px;
        border-radius: 8px;
      }
    }
  }
}

@media (max-width: 1239.98px) {
  .home {
    &__services {
      & > .container {
        grid-gap: 60px;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .home {
    &__services {
      .container {
        grid-template-columns: 1fr;
        margin-bottom: 150px;
      }

      &__flex-row {
        img {
          display: none;
        }
      }
    }
  }
}
