@import "../../../../styles/variables";
@import "../../../../styles/mixin";

@import "../components/Banner/banner";
@import "../components/Products/products";
@import "../components/Services/services";
@import "../components/WeAre/we-are";

.home {
  overflow: hidden;
  background-image: linear-gradient(#ffcb38 27%, $orange 51%, $yellow);
  object-fit: contain;

  section {
    //@media (min-height: 500px) {
    //  &:first-child {
    //    height: calc(100vh - 90px);
    //  }
    //}
    .btn {
      @include btn($orange, linear-gradient(#ffffff, #ffffff));
    }
  }

  &__products, &__services, &__we-are {
    h3 {
      text-align: center;
      margin: 0 0 50px;
    }
  }
}

@media (max-width: 767.98px) {
  .home {
    section {
      h3 {
        margin: 0 0 35px;
      }

      h4 {
        font-size: 20px;
        line-height: 1.25;
      }

      p {
        font-size: 15px;
        line-height: 1.67;
      }
    }
  }
}
