.case-study {
  margin: 42px 0 0 0;

  p {
    max-width: 750px;
    margin: 0;
  }

  h2 {
    font-family: Mont-Bold, serif;
    font-size: 2.75rem;
    color: #363645;
    margin: 0 0 20px 0;
    line-height: normal;
  }

  h3 {
    font-family: Mont-Bold, serif;
    font-size: 2.125rem;
    color: #363645;
    text-align: left;
  }

  h4 {
    font-family: Mont-Bold, serif;
    font-size: 2.0625rem;
    color: #363645;
  }

  &__header {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 116px;
    margin-bottom: 117px;

  }

  &__left {
    img {
      margin-bottom: 40px;
      max-width: 442px;
      width: 100%;
    }

    a {
      font-size: 1.5625rem;
      color: #0e9f84;
      margin-bottom: 26px;
    }

    p {
      margin-top: 30px;
    }

    h4 {
      font-size: 1.25rem;
      color: #2c2c2c;
      margin: 0 0 5px;
      font-family: Mont-Bold, serif;
    }

    span {
      font-size: 1.25rem;
      color: #676875;
      margin-bottom: 25px;
    }
  }


  &__properties {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-gap: 322px;
    margin-bottom: 80px;
  }

  &__left {
    & > div {
      margin-bottom: 25px;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__right {
    & > img {
      width: 100%;
    }

    .tags {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      div {
        color: #2c2c2c;
        padding: 15px 30px;
        font-size: 1.125rem;
        border-radius: 27px;

        margin: 0 30px 20px 0;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08);

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__poster {
    margin-bottom: 260px;
    display: grid;
    grid-gap: 95px;
    align-items: center;

    img {
      height: auto;
      width: 100%;
    }
  }

  &__ux-process {
    overflow: hidden;
    margin-bottom: 260px;

    p {
      max-width: 686px;
    }

    img {
      margin-top: 28px;
    }
  }

  &__ui-concept {
    p {
      max-width: 686px;
    }

    margin-bottom: 200px;
  }

  &__palette {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 141px;
    margin-top: 92px;

    //.shape {
    //  display: grid;
    //  grid-template-columns: 1fr 1fr;
    //  grid-template-rows: 1fr 1fr;
    //  grid-row-gap: 74px;
    //
    //
    //}

    .shape {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-row-gap: 60px;
      grid-gap: 60px;

      &__square {
        //margin-right: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 160px;
        border-radius: 25px;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.3);
        color: #fff;
        font-family: DMSans-Regular, serif;
        font-size: 22px;

        &:last-child {
          margin-right: 0;
        }

      }

      &__leaf {
        display: flex;
        flex-direction: column;

        img {
          width: 100px;
          height: 143px;
        }

        span {
          color: #676875;
          font-size: 1.375rem;
        }
      }
    }

    .fonts {
      display: flex;
      flex-direction: column;

      &--big {
        font-family: DMSans-Bold, serif;
        font-size: 10rem;
        font-weight: bold;
        color: #363645;
        line-height: 10rem;
        margin-top: 21px;
      }

      &--green {
        font-family: Roboto-Regular, serif;
        font-size: 3.125rem;
        color: #0e9f84;
        margin-bottom: 28px;
      }

      &--regular {
        font-family: AvenirNext-Medium, serif;
        font-size: 1.625rem;
        font-weight: 500;
        color: #676875;
        margin-bottom: 19px;

        &:last-child {
          margin: 0;
        }

      }

      &--regular-big {
        font-family: AvenirNext-Medium, serif;
        font-size: 1.625rem;
        font-weight: 500;
        color: #676875;
        text-transform: uppercase;
        margin-bottom: 19px;

      }
    }
  }

  &__big-image {
    img {
      width: 100%;
    }
  }

  &__our-process {
    margin-bottom: 200px;

    h2 {
      margin-bottom: 80px;
    }

    .our-process {


      &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }

      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 360px;

        &--last {
          &:after {
            display: none;
          }
        }

        & > div {
          width: 130px;
          height: 130px;
          box-shadow: 0 1px 11px 3px rgba(0, 0, 0, 0.05);
          background-color: #ffffff;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          &:after {
            content: "";
            position: absolute;
            height: 8px;
            width: 245%;
            background-color: rgba(0, 0, 0, 0.04);
            top: calc(50% - 4px);
            left: calc(50% + 65px);
            z-index: -1;

          }

          & > div {
            width: 40px;
            height: 40px;
            background-color: #363645;
            border-radius: 50%;
          }
        }

        h5 {
          font-size: 1.5rem;
          color: #363645;
          margin: 50px 0 19px;
        }

        p {
          text-align: left;
          font-size: 1.25rem;
          line-height: 1.7;
          color: #676875;
          margin: 0 0 30px;
        }

        span {
          color: #363645;
          font-size: 1.25rem;
        }

      }
    }
  }

  &__upgrades {
    position: absolute;
    border-top: 4px dotted rgba(151, 151, 151, 0.7);
    border-left: 4px dotted rgba(151, 151, 151, 0.7);
    border-bottom: 4px dotted rgba(151, 151, 151, 0.7);
    border-radius: 9px;
    bottom: 0;
    right: 0;
    height: 200px;
    width: 900px;

    .upgrades-title {
      position: absolute;
      left: -347px;
      margin: 20px 0 0;
    }
  }

  &__technologies {
    margin-bottom: 200px;

    .technologies {

      &__wrapper {
        display: flex;
        margin-top: 100px;
        flex-wrap: wrap;
      }

      &__item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;

        & > div {
          margin: 0 40px 30px 40px;

          display: flex;
          justify-content: center;
          align-items: center;
          width: 132px;
          height: 132px;
          box-shadow: 4px 4px 48px 0 rgba(4, 59, 85, 0.09);
          border-radius: 22px;

          img {
            max-width: 75px;
          }
        }

        &:last-child {
          margin-right: 0;
        }

        span {
          font-family: Mont-Bold, serif;
          font-size: 1.875rem;
          color: #4c4c59;
        }
      }

    }
  }

  &__our-results {
    margin-top: 150px;

    .our-results {

      &__points {
        margin-top: 109px;
        display: flex;
        justify-content: space-evenly;
      }

      &__item {
        text-align: center;

        span {
          font-family: DMSans-Regular, serif;
          font-size: 1rem;
          color: #676875;
        }
      }

      &__circle {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 300px;
        height: 300px;
        box-shadow: 0 1px 9px 5px rgba(0, 0, 0, 0.05);
        background-color: #ffffff;
        font-family: DMSans-Regular, serif;
        margin-bottom: 40px;

        span {
          font-size: 2.5rem;
          color: #363645;
        }
      }
    }

  }

  &__our-works {
    margin: 260px auto 0 auto;

    h2 {
      text-align: center;
    }
  }
}

@media (max-width: 1170.98px) {
  .case-study {
    &__header {
      grid-gap: 20px;
    }

    &__properties {
      grid-gap: 50px;
    }

    &__palette {
      grid-gap: 50px;

    }

    .our-process__wrapper {
      grid-gap: 50px;
    }

  }
}

@media (max-width: 960px) {
  .our-process__item {
    & > div {
      &:after {
        content: none !important;
      }
    }
  }

  .our-results__points{
    flex-wrap: wrap;
  }

  .our-results__item{
    margin-bottom: 30px;
  }
}

@media (max-width: 759px) {
  .case-study {

    &__left {
      a {
        font-size: 1rem;
      }
    }

    &__header {
      grid-template-columns: 1fr;
    }

    &__properties {
      grid-template-columns: 1fr;
    }

    &__poster {
      grid-template-columns: 1fr !important;
    }

    &__palette {
      grid-template-columns: 1fr;

      .shape {
        grid-gap: 0;
        grid-row-gap: 60px;
      }
    }

    .our-process__wrapper {
      grid-template-columns: 1fr;

      .our-process__item {
        max-width: none;
      }
    }

    &__our-works{
      margin: 0;
    }
  }
}

@media (max-width: 463px) {

  .technologies__wrapper {
    justify-content: center;
  }

}