.banner {
    position: relative;
    width: 100vw;
    .header-wrapper {
        color: $white;
        max-width: 1240px;
        position: absolute;
        top: 25%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100%;
        -webkit-transition: all 750ms cubic-bezier(0.2, 0, 0, 1);
        transition: all 750ms cubic-bezier(0.2, 0, 0, 1);
        @media (max-width: 768px) {
            top: 38%;
        }
    }
    .banner-img--desktop {
        position: relative;
        z-index: 1;
        width: 100%;
        height: auto;
        -webkit-animation: bcCCNc 1000ms ease-out;
        animation: bcCCNc 1000ms ease-out;
        margin-top: -20%;
        transition: margin 2000ms;
        transition: width 2000ms;
    }
    &__block {
        height: 100%;
        .banner-img--mobile {
            display: none;
        }
        img {
            width: 100%;
        }
        h1 {
            text-shadow: 0px 4px 10px rgba(0,0,0,0.1);
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            z-index: 2;
            text-align: center;
            font-size: 3.9rem;
            line-height: 4rem;
            font-family: Mont-Bold, serif;
            @media (max-width: 575px) {
              font-size: 1.8rem;
              line-height: 2rem;
            }
            @media (min-width: 1700px) {
              font-size: 4.5rem;
            }
        }
        .wrapper {
            width: 100%;
            margin-top: 7vh;
            #border_wrap {
                overflow: hidden;
            }
        }
    }
    &__text {
        max-width: 796px;
        margin: 95px auto;
    }
    &__slogan {
        margin-top: 50px;
        text-align: center;
        h2 {
            font-size: 3.3vw;
            text-align: center;
            text-transform: uppercase;
        }
    }
}

@media (max-width: 1239.98px) {
    .banner {
        &__block {
            grid-template: auto 1fr / auto;
            .wrapper {
                width: 100%;
                margin-top: 20vh;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .banner {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        &-img--mobile {
            display: block !important;
            left: 50%;
            transform: translateX(-50%);
            width: 133%;
            margin-top: 0;
            transition: margin 2000ms;
            transition: width 2000ms;
        }
        &-img--desktop {
          display: none;
        }
        &__slogan {
            margin: 0 0 30px;
        }
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .banner {
        &__text {
            max-width: 796px;
            margin: 82px auto;
        }
    }
}