.swiper-slide {
  width: calc(100% - 80px);
}

.slide {
  overflow: hidden;

  p {
    margin: 0;
  }

  &__header {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 55px minmax(min-content, max-content) 1fr;
    align-items: center;

    .logo {
      margin-right: 30px;

      img {
        max-height: 40px;
        max-width: 40px;
      }
    }

    .title { margin: 0 60px 0 0; }

    .tags {
      span {
        font-size: 15px;
        line-height: 2.13;

        &:not(:last-child) {
          margin-right: 25px;
        }
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 80px;

    .left {
      max-width: 500px;
    }

    .right {
      text-align: right;

      img {
        max-width: 560px;
        max-height: 450px;
      }
    }

    .text {
      margin-bottom: 50px;
    }

    .info {
      display: grid;
      grid-template-columns: repeat(auto-fit, 200px);
      grid-gap: 35px;
      align-items: flex-start;

      div {
        background: rgba(255, 255, 255, .12);
        padding: 15px;
        border-radius: 10px;
      }

      &__title {
        font-size: 25px;
        line-height: 1;
        margin-bottom: 12px;
      }

      &__text {
        font-size: 15px;
        line-height: 1.33;
      }
    }
  }

  &__footer {
    display: grid;
    grid-template-columns: 285px 1fr;
    grid-gap: 70px;

    .customer {
      display: grid;
      grid-template-columns: 85px 1fr;

      p:first-child {
        font-size: 15px;
        line-height: 1.67;
        margin-bottom: 5px;
      }

      p:last-child {
        font-size: 15px;
        line-height: 1.33;
        font-weight: normal;
      }
    }

    .feedback {
      max-width: 800px;
      font-size: 18px;
      font-style: italic;
      line-height: 2;
      font-weight: normal;
    }
  }
}

@media (max-width: 1239.98px) {
  .slide {
    &__content {
      .right {
        padding: 0 0 0 80px;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .slide {
    margin-bottom: 160px;

    &__header {
      margin-bottom: 25px;

      .logo {
        margin-right: 25px;

        img {
          width: 30px;
          height: 30px;
        }
      }

      .title {
        font-size: 20px;
        line-height: 1.5;
        margin: 0;
      }

      .tags {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min-content, 100px));
        grid-column: 1 / -1;
      }
    }

    &__content {
      grid-template-columns: 1fr;

      .left {
        max-width: none;

        .text {
          margin-bottom: 30px;
        }

        .info {
          display: none;
        }
      }

      .right {
        text-align: center;
        padding: 0;

        img {
          max-width: 380px;
        }
      }
    }

    &__footer {
      display: none;
    }
  }
}

@media (max-width: 767.98px) {
  .slide {
    &__content {
      .left {
        .text {
          font-size: 15px;
        }
      }

      .right {
        img {
          max-width: 270px;
        }
      }
    }
  }
}
