.services {
  overflow: hidden;

  h1, h2 {
    margin: 0 0 25px;
    font-family: Mont-Bold, serif;
    font-size: 1.75rem;
    color: #363645;
  }

  h3 {
    margin: 0 0 40px;
    font-family: Mont-Bold, serif;
    font-size: 1.25rem;
    text-align: left;
    color: #363645;
  }

  p {
    //max-width: 816px;
    font-size: 1.25rem;
    color: #676875;
  }

  &__design {
    margin: 30px 0 0;
  }


  &__ul-list {
    margin-bottom: 130px;

    .list-item {
      font-family: Mont-SemiBold, serif;
      font-size: 1.25rem;
      color: #676875;

      .list-style {
        background-color: #ffb844;
      }
    }

    .block {
      color: #363645;
      font-family: Mont-Bold, serif;
    }
  }

  &__desc {
    //grid-gap: 100px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__process {
    margin-bottom: 200px;

    .process-item {
      grid-gap: 80px;
      margin-top: 80px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      direction: rtl;

      img {
        width: 100%;
      }

      &__text {
        text-align: left;
        direction: ltr;

        span {
          font-size: 1.5rem;
          color: #363645;
          margin: 15px 0;
          font-family: Mont-Bold, serif;
        }

        p {
          font-size: 1.25rem;
        }
      }
    }

    .odd {
      direction: ltr !important;
    }

  }

  &__deliverables {
    margin-bottom: 140px;

    .deliverable__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 95px;

      .deliverable-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
          font-size: 1.25rem;
          color: #363645;
          font-family: Mont-Bold, serif;
        }

        p {
          font-size: 1.125rem;
          font-family: Mont-SemiBold, serif;
          color: #676875;
          margin: 15px 0 0;
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .services {
    &__design {
      margin-bottom: 150px;

      h2 {
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 25px;
      }
    }

    &__desc {
      margin-bottom: 35px;

      h3 {
        font-size: 15px;
        line-height: 1.67;
        margin-bottom: 5px;
      }

      p {
        max-width: none;
        font-size: 15px;
        line-height: 1.87;
        margin-bottom: 25px;
      }
    }
  }
}

@media (max-width: 950px) {
  .services {
    &__desc {
      grid-template-columns: 1fr;
    }

    .process-item {
      grid-template-columns: 1fr;
    }

    .deliverable__wrapper {
      grid-template-columns: 1fr 1fr;
      grid-gap: 50px;

      .deliverable-item {
        margin-top: 40px;
      }
    }
  }

}

@media (max-width: 630px) {
  .services {

    .deliverable__wrapper {
      grid-template-columns: 1fr;

      .deliverable-item {
        margin-top: 40px;
      }
    }
  }
}


@media (max-width: 1182px) {
  .products {
    display: none;
  }

}
