.services {
  overflow: hidden;

  h1, h2 {
    margin: 0 0 25px;
    font-family: Mont-Bold, serif;
    font-size: 1.75rem;
    color: #363645;
  }

  h3 {
    margin: 0 0 40px;
    font-family: Mont-Bold, serif;
    font-size: 1.25rem;
    text-align: left;
    color: #363645;
  }

  p {
    //max-width: 816px;
    font-size: 1.25rem;
    color: #676875;
    margin: 0;
  }

  &__design {
    margin: 30px 0 0;
  }


  &__ul-list {
    margin-bottom: 130px;

    .list-item {
      font-family: Mont-SemiBold, serif;
      font-size: 1.25rem;
      color: #676875;

      .list-style {
        background-color: #ffb844;
      }
    }

    .block {
      color: #363645;
      font-family: Mont-Bold, serif;
    }
  }

  &__desc {
    //grid-gap: 100px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__process {
    margin-bottom: 200px;

    .process-item {
      grid-gap: 80px;
      margin-top: 80px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      direction: rtl;

      img {
        width: 100%;
      }

      &__text {
        text-align: left;
        direction: ltr;

        span {
          font-size: 1.5rem;
          color: #363645;
          margin: 0 0 10px;
          font-family: Mont-Bold, serif;
          display: block;
        }

        p {
          font-size: 1.25rem;
        }
      }
    }

    .odd {
      direction: ltr !important;
    }

  }

  &__deliverables {
    margin-bottom: 140px;

    .deliverable__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 95px;

      .deliverable-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
          font-size: 1.25rem;
          color: #363645;
          font-family: Mont-Bold, serif;
        }

        p {
          margin: 15px 0 0;
          font-size: 1.25rem;
          color: #676875;
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .services {
    &__design {

      h2 {
        font-size: 1.75rem;
        line-height: 1.4;
        margin-bottom: 10px;
      }
    }

    &__desc {
      margin-bottom: 35px;

      h3 {
        font-size: 1.25rem;
        line-height: 1.67;
        margin-bottom: 5px;
      }

      p {
        max-width: none;
        font-size: 0.875rem;
        line-height: 1.87;
        margin-bottom: 25px;
      }
    }

    &__process {
      margin-bottom: 140px;
      h2 {
        font-size: 1.25rem !important;
        line-height: 1.67;
      }
      p {
        font-size: 0.875rem;
        line-height: 1.87;
      }
      .process-item {
        grid-gap: 20px;
        margin-top: 60px;

        &__text {
          span {
            display: block;
            font-size: 1.25rem;
            margin: 0 0 10px;
          }

          p {
            font-size: 0.875rem;
          }
        }
      }
    }

    &__ul-list {
      margin-bottom: 140px;

      .block {
        font-size: 1.25rem;
      }
    }

    &__deliverables {
      margin-bottom: 140px;

      h2 {
        font-size: 1.25rem !important;
        line-height: 1.67;
      }
      p {
        font-size: 0.875rem;
        line-height: 1.87;
      }

      .deliverable-item {
        span {
          display: flex;
          align-self: flex-start;
        }

        p {
          font-size: 0.875rem !important;
        }
      }
    }

    &__technologies {
      margin-bottom: 140px;
    }
  }
}

@media (max-width: 950px) {
  .services {
    &__desc {
      grid-template-columns: 1fr;
    }

    .process-item {
      grid-template-columns: 1fr;
      // grid-auto-flow: column;
      // grid-gap: 0
      img {
        order: 2;
      }
    }

    .deliverable__wrapper {
      grid-template-columns: 1fr 1fr;
      grid-gap: 50px;
    }
  }

}

@media (max-width: 630px) {
  .services {

    .deliverable__wrapper {
      grid-template-columns: 1fr;
    }
  }
}


//@media (max-width: 1182px) {
//  .products {
//    display: none;
//  }
//
//}
