@import "../../../src/styles/variables";

.react-tabs {
  &__tab {
    font-size: 15px;
    line-height: 1.33;
    color: $dark-gray;
    border: none;
    bottom: 0;
    padding: 0;
    transition: .2s;

    &--selected {
      background: transparent;
    }

    &-list {
      background-color: white;
      border: none;
      width: fit-content;
      border-radius: 6px;
      padding: 18px 0;
      margin: 0;
    }

    &:hover {
      color: $orange;
    }

    div {
      div {
        padding: 0 50px;
      }
    }

    &:not(:last-child) div div {
      border-right: 2px solid $light-gray-alt;
    }

    &:focus {
      box-shadow: none;
      border: none;

      &:after {
        content: none;
      }
    }

    &--selected {
      color: $orange;
      border: none;
      border-right: inherit;
      border-radius: 0;
    }

    &--active:not(:last-child) {
      div div {
        border-color: $orange;
      }
    }
  }

  &__tab-panel {
    &--selected {
      animation: fadeIn .3s linear;
    }
  }
}

.sticky {
  position: fixed;
  top: 20px;
  z-index: 3;
}

.sticky ~ .react-tabs__tab-panel--selected {
  padding-top: 140px;
}

.sub-template {
  width: 100%;
  height: 90px;
  background: $orange;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 0 20px 20px 0 $orange;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media (max-width: 1239.98px) {
  .react-tabs {
    &__tab {
      &-list {
        padding: 14px 0;
      }

      div {
        div {
          padding: 0 20px;
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .sticky {
    top: 0;
  }

  .sub-template {
    top: -25px;
  }

  .react-tabs {
    width: 100vw;

    &__tab {
      padding: 14px 0;
      height: 100%;

      &-list {
        padding: 0;
        height: 50px;
        width: 100%;
        margin-left: -40px;
        border-radius: 0;
        background-color: rgba(255, 255, 255, .89);
        white-space: nowrap;
        overflow-x: auto;
      }
      &-list:after {
        content  : "";
        position : absolute;
        z-index  : 1;
        bottom   : 0;
        left     : 0;
        pointer-events   : none;
        background-image : linear-gradient(to right,
                rgba(255,255,255, 0),
                rgba(255,255,255, 1) 99%);
        width    : 100%;
        height   : 100%;
      }

      &-panel {
        width: calc(100% - 80px);
      }

      &:not(:last-child) div div {
        border-right: none;
      }

      &--selected {
        border-bottom: 3px solid $orange;
      }
    }
  }

  .sticky ~ .react-tabs__tab-panel--selected {
    padding-top: 110px;
  }
}
