@import "../../../src/styles/variables";

.react-tabs {
  &__tab {
    font-size: 15px;
    line-height: 1.33;
    color: $dark-gray;
    border: none;
    bottom: 0;
    padding: 0;
    transition: .2s;

    &--selected {
      background: transparent;
    }

    &-list {
      background-color: white;
      border: none;
      width: fit-content;
      border-radius: 6px;
      padding: 18px 0;
      margin: 0;
    }

    div {
      div {
        padding: 0 50px;
      }
    }

    &:not(:last-child) div div {
      border-right: 2px solid $light-gray-alt;
    }

    &:focus {
      box-shadow: none;
      border: none;

      &:after {
        content: none;
      }
    }

    &--selected {
      color: $orange;
      border: none;
      border-right: inherit;
      border-radius: 0;
    }

    &--active:not(:last-child) {
      div div {
        border-color: $orange;
      }
    }
  }

  &__tab-panel {
    z-index: 0;
    &--selected {
      animation: fadeIn .3s linear;
    }
  }
}



.sub-template {
  width: 100%;
  background: $orange;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media (max-width: 1239.98px) {
  .react-tabs {
    &__tab {
      &-list {
        padding: 14px 0;
      }

      div {
        div {
          padding: 0 20px;
        }
      }
    }
  }
}

@media (max-width: 1240px) {

  .tab-list-wrapper{
    position: relative;
    height: 50px;
    width: 100%;
    margin-bottom: 65px;
  }

  .tab-list-wrapper:after{
    content  : "";
    position : absolute;
    z-index  : 1;
    bottom   : 0;
    left     : 0;
    pointer-events   : none;
    background-image : linear-gradient(to right,
            rgba(255,255,255, 0) 75%,
            rgba(255,255,255, 1));
    width    : 100%;
    height   : 100%;
  }

  .sub-template {
    top: -25px;
  }

  .react-tabs {
    width: 100vw;

    &__tab {
      padding: 14px 0;
      height: 100%;

      &-list {
        position: relative;
        padding: 0;
        height: 50px;
        width: 100%;
        left: -15px;
        border-radius: 0;
        background-color: rgba(255, 255, 255, .89);
        white-space: nowrap;
        overflow-x: auto;
      }

      &-panel {
        width: calc(100% - 80px);
      }

      &:not(:last-child) div div {
        border-right: none;
      }

      &--selected {
        border-bottom: 3px solid $orange;
      }
    }
  }

  .sticky ~ .react-tabs__tab-panel--selected {
    padding-top: 110px;
  }

  .sticky {
    position: fixed;
    top: 0;
    z-index: 3;
    left: 0 !important;
    &:after{
      content  : "";
      position : absolute;
      z-index  : 1;
      bottom   : 0;
      left     : 0;
      pointer-events   : none;
      background-image : linear-gradient(to right,
              rgba(255,255,255, 0) 75%,
              rgba(255,255,255, 1));
      width    : 100%;
      height   : 100%;
    }
  }


  .sticky ~ .react-tabs__tab-panel--selected {
    padding-top: 140px;
  }
}

@media (min-width: 1240px) {
  .react-tabs {
    display: grid;
    grid-template-columns: 183px auto;
    grid-column-gap: 60px;

    .sticky {
      position: fixed;
      top: 100px;
      width: 183px;
    }
    &__tab {
      font-size: 18px;
      color: $white;
      width: 100%;

      &-list {
        background-color: transparent;

      }

      div {
        div {
          padding: 21px 33px;
        }
      }

      &:not(&--selected) {
        div {
          div {
            &:hover {
              transform: scale(1.2);
              transform-origin: center left;
              padding-left: 27px;
            }
          }
        }
      }

      &:not(:last-child) div div {
        border-right: none;
      }

      &--selected {
        background-color: $white;
        color: $orange;
        border-radius: 31px;
      }


    }
  }
}

@media (max-width: 768px) {
  .react-tabs__tab-list {
    left: -40px;
  }
}

