.home {
  &__achievements {
    //background-image: url(/public/assets/img/group-13.svg);
    padding: 340px 0 450px;
    position: relative;
    background-image: url("/assets/img/group-13.svg");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;

    @media (min-width: 1920px) {
      background-position-x: center;
      padding: 444px 0 573px !important;
      background-position-y: bottom;
    }

    //&:after {
    //  //background-image: url("/assets/img/404.jpg");
    //
    //  background-image: url("/assets/img/group-13.svg");
    //  content: "";
    //  position: absolute;
    //  top: -350px;
    //  left: -150px;
    //  height: 870px;
    //  width: 116%;
    //  background-size: 100%;
    //  background-repeat: round;
    //
    //  @media (max-width: 1600.98px) {
    //    background-repeat: no-repeat;
    //    width: 200%;
    //    left: -250px;
    //  }
    //
    //  @media (max-width: 460px) {
    //    top: -234px;
    //  }
    //
    //  @media (max-width: 1185px) {
    //    top: -140px;
    //  }
    //}

    h3 {
      color: #fff !important;
    }

    & > .container {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 100px;
      align-items: center;

      a {
        height: 70px;
        transition: all 1s ease;

        &:hover {
          transform: scale(1.2);
        }

        img {
          width: 180px;
          height: 70px;
          object-fit: contain;
        }
      }
    }
  }
}

@media (max-width: 1239.98px) {
  .home {
    &__achievements {
      padding: 340px 0 300px;

      & > .container {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 50px;

        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .home {
    &__achievements {
      & > .container {
        grid-gap: 55px;

        a img {
          max-width: 140px;
        }
      }
    }
  }
}

@media (max-width: 475.98px) {
  .home__achievements {
    margin-top: -100px;

    & > .container {
      a img {
        max-width: 120px;
      }
    }
  }
}


@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    
    .home__achievements {
      padding: 325px 0 355px;
      position: relative;
      background-image: url(/assets/img/group-13.svg);
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: center;
    }
}