@import "src/styles/variables";

@import "../components/Intro/styles/intro";
@import "../components/Design/styles/design";
@import "../components/Development/styles/development";
@import "../components/Web/styles/web";
@import "../components/Mobile/styles/mobile";
@import "../components/IoT/styles/iot";
@import "../components/Blockchain/styles/blockchain";

h2 {
  font-size: 36px;
  line-height: 1.56;

  span {
    color: rgba(255, 255, 255, .5);
    margin-right: 20px;
  }
}

h3 {
  font-size: 28px;
  line-height: 1.07;
}

h4 {
  font-size: 25px;
  line-height: 1;
}

.services {
  background-image: linear-gradient(156deg, $yellow, $orange 50%, $yellow);
  overflow: hidden;

  &__ul-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 60px;

    .list-item {
      font-size: 20px;
      max-width: 500px;
      color: rgba(255, 255, 255, .9);
      line-height: 1.8;
      display: grid;
      grid-template-columns: 20px 1fr;
      grid-gap: 30px;

      .list-style {
        width: 20px;
        height: 20px;
        background: rgba(255, 255, 255, .55);
        border-radius: 50%;
        margin-top: 7px;
      }

      span {
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
        line-height: 1.5;
      }
    }
  }

  &__choices {
    margin-bottom: 200px;

    h4 {
      margin: 0 0 40px;
    }

    .choices-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, 465px);
      grid-column-gap: 80px;
      grid-row-gap: 60px;

      .list-item {
        display: grid;
        grid-template-columns: 90px 1fr;
        grid-gap: 25px;
        max-width: 465px;

        div:first-child {
          width: 90px;
          height: 90px;
          background-color: rgba(255, 255, 255, .75);
          border-radius: 12px;
        }

        p {
          margin: 0;

          &:first-child {
            font-size: 20px;
            line-height: 1.25;
            margin-bottom: 12px;
          }

          &:last-child {
            font-size: 18px;
            line-height: 1.44;
            font-weight: normal;
          }
        }
      }
    }
  }

  &__approach {
    margin-bottom: 200px;

    h4 {
      margin: 0 0 40px;
    }
  }

  &__technologies {
    display: grid;
    align-items: center;
    margin-bottom: 120px;

    &--center {
      margin-bottom: 0;
      align-items: center;
    }

    & > div {
      display: grid;
      grid-template-columns: repeat(5, 65px);
      grid-gap: 55px;

      & > div {
        text-align: center;
        width: 100%;
        grid-gap: 18px;
        display: grid;
        justify-items: center;

        & > div {
          width: 66px;
          height: 66px;
          display: grid;
          align-items: center;
          justify-content: center;
          background-color: white;
          border-radius: 5px;
        }
      }
    }
  }

  &__deliverables {
    margin-bottom: 120px;

    & > div {
      display: grid;
      grid-template-columns: repeat(auto-fill, 130px);
      grid-gap: 36px;

      & > a {
        display: grid;
        grid-template-rows: repeat(auto-fit, 96px);
        align-items: flex-start;
        justify-items: center;
        text-align: center;
        grid-gap: 30px;
        text-decoration: none;
        font-size: 15px;
        line-height: 1.47;

        span {
          border-bottom: 1px solid transparent;
        }

        &:hover span {
          border-bottom-color: rgba(255, 255, 255, .3);
        }
      }
    }

    h3 {
      margin: 0 0 40px;
    }
  }

  &__products {
    h3 {
      margin: 0 0 40px;
    }

    & > div {
      display: grid;
      grid-template-columns: repeat(auto-fill, 55px);
      grid-gap: 40px;

      img {
        width: 100%;
      }
    }
  }

  &__desc {
    display: grid;
    margin-bottom: 200px;

    h3 {
      margin: 0 0 25px;
    }

    p {
      font-size: 20px;
      color: rgba(255, 255, 255, .9);
      line-height: 1.8;
      max-width: 816px;
      margin: 0 0 60px 0;
    }
  }

  &__approach {
    .approach-text {
      display: grid;
      grid-template-columns: 20% 30% 30% 20%;
      justify-items: center;
      justify-content: space-around;
      text-align: center;
      width: 100%;
      font-size: 20px;
      line-height: 1.5;

      div {
        max-width: 40%;
        display: flex;

        &:nth-child(1) { max-width: 97px; }

        &:nth-child(2) {
          max-width: 90px;
          margin-right: -40px;
        }

        &:nth-child(3) {
          max-width: 164px;
          margin-left: -60px;
        }

        &:nth-child(4) { max-width: 138px; }
      }
    }

    img {
      width: 100%;
      margin-bottom: 14px;
    }

    .see-more {
      display: grid;
      justify-content: flex-end;

      a {
        line-height: 1.44;
        font-size: 18px;
        text-decoration: none;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        transition: border-bottom-color .2s;
        margin-right: 50px;

        &:hover {
          border-bottom-color: white;
        }
      }
    }
  }

  &__design, &__development {
    h2 {
      margin: 0 0 50px;
    }
  }
}
