@import "../../styles/variables";

footer {
  flex-shrink: 0;
  background-color: $purple;
  border-top: 1px solid $dark-gray;

  .content {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 46px 0;
  }

  .nav-wrapper {
    display: grid;
    grid-template-columns: 256px auto;
    align-items: center;

    img {
      max-width: 63px;
    }
  }

  .nav-footer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 25px 60px;
  }

  .nav-footer a.nav_item {
    color: $light-gray;
    font-size: 18px;
    text-decoration: none;
    line-height: 1.11;
    font-weight: normal;
    transition: color 0.2s;

    &:hover,
    &.active {
      color: $orange;
    }
  }

  .copyright {
    border-left: solid 1.5px $dark-gray;
    padding: 23px;

    p {
      font-size: 18px;
      font-weight: normal;

      &:first-child {
        color: white;
        line-height: 1.11;
        margin: 0 0 15px;
      }

      &:last-child {
        color: $dark-gray;
        line-height: 1.11;
        margin: 0;
      }
    }
  }
}

@media (max-width: 991.98px) {
  footer {
    .nav-wrapper {
      grid-template-columns: 140px auto;
    }
  }
}

@media (max-width: 767.98px) {
  footer {
    display: none;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  footer {
    .content {
      padding: 28px 0;
    }
    .nav-footer a.nav_item {
      font-size: 1.2rem;
    }
    .copyright {
      padding: 18px;
  
      p {
        font-size: 1.3rem;
        font-weight: normal;
      }
    }
  }
}
